body {
    background: #c9eb35;
  }

  h1 {
    font-family: 'Fredoka One', cursive;
    color: #2a2a2a;
    font-size: 40px;
    text-align: center;
    font-weight: 80;
  }

  .navigationBox{
    background-image: linear-gradient(180deg, rgb(255, 0, 0), rgb(248, 232, 7));
  }

  .searchInput {
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
  }

.filteredList {
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  font-size: 15px;
}

.listItem {
  background: linear-gradient(#E66465, #923EDB);
  margin: 0 0 10px 0;
}









  