body {
    background: #c9eb35;
  }

.filteredList {
  
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.searchInput{
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: space-between;
  width: 600px;
  height: 40px;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  font-weight: 80;
}







  